:root {
  --color-primary-light: #63cdd7;
  --color-primary-light-2: #7dceec;
  --color-primary-light-3: #cdecf9;

  --color-primary-dark: #009ed8;

  --color-secondary: #8fe388;

  --color-white: #fff;
  --color-dark: #000;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #f5f5f5;
  --color-grey-light-3: #f1f1f1;
  --color-grey-light-4: #eee;

  --color-grey-dark-1: #777;

  --color-sunrise-yellow: #ffdb00;
  --color-sunset-orange: #ff9a00;

  --bp-micro: 31.25em; /*500px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 3rem;

  color: var(--color-grey-light-1);
  background-color: var(--color-white);
}

.main {
  height: 91.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(99, 205, 215, 0.6),
      rgba(0, 147, 183, 0.8)
    ),
    url('./assets/surf-home.jpg');

  border-radius: 0.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-1);
}

.btn--white::after {
  background-color: var(--color-white);
  content: '';
  display: inline-block;
  border-radius: 10rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  transition: all 0.4s;
}

.btn--blue {
  background: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: var(--color-grey-light-1);
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  margin-top: 3rem;
}
/* 1200px */
@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }

  .main {
    height: 100vh;
    border-radius: 0;
  }
}
/* 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}
